@model Photography.ApplicationLogic.Models.Account

@{
    ViewData["Title"] = "AccountDetails";
}

<h1>Details</h1>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfilePicture)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Url.Content(Model.ProfilePicture)" style="width: 125px;height: auto;"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacebookLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacebookLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstagramLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstagramLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TwitterLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TwitterLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-controller="Posts" asp-route-id="@Model.Id" class="btn btn-primary">See Posts</a>
</div>
<div>
    <a asp-action="Index">Back to Accounts</a>
</div>
