@model IEnumerable<Photography.ApplicationLogic.Models.Account>

@{
    ViewData["Title"] = "Accounts";
}
<div class="d-block w-100 bg-white rounded">
    <h1 class="p-3">Accounts</h1>
    <div class="p-3">
        <p>Number of accounts found: @Model.Count()</p>
    </div>

    <form class="p-3" asp-action="Index" method="get">
        <input type="text" name="searchString" placeholder="Search" />
        <input type="submit" value="Search" />
        <a asp-action="Index">Full List</a>
    </form>

    <div class="p-3">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.ActionLink("Nume", "Index", new { sortOrder = ViewBag.NameSortParm })
                    </th>
                    <th>
                        @Html.ActionLink("Prenume", "Index", new { sortOrder = ViewBag.PrenumeSortParm })
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nume)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Prenume)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            <a asp-action="Profile" asp-route-id="@item.UserName">Profile</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

