@using Microsoft.AspNetCore.Identity
@model Photography.ViewModels.AccountPhotos

@{
    ViewData["Title"] = "Profile";
}
<div class="d-flex">
    <div class="w-25 text-center pt-4 border-right-0 rounded-left" style="background: linear-gradient(to right, #9cb4e2, #ccddff);">
        <img class="rounded bg-light" src="@Url.Content(Model.account.ProfilePicture)" style="width: 125px;height: auto;" />
        <h4 style="color: #fff">@Html.DisplayFor(model => model.account.UserName)</h4>
        <div class="pt-3 pb-2">
            @if (Model.account.FacebookLink != null)
            {
                <a href="@Model.account.FacebookLink" class="btn btn-primary border-0" style="background: #6f95f8;cursor: pointer;color: white;">Facebook</a>
            }
            @if (Model.account.InstagramLink != null)
            {
                <a href="@Model.account.InstagramLink" class="btn btn-primary border-0" style="background: #6f95f8;cursor: pointer;color: white;">Instagram</a>
            }
            @if (Model.account.TwitterLink != null)
            {
                <a href="@Model.account.TwitterLink" class="btn btn-primary border-0" style="background: #6f95f8;cursor: pointer;color: white;">Twitter</a>
            }
        </div>
    </div>
    <div class="w-75 pt-4 pl-3 pr-3 border-left-0 rounded-right" style="background: #ffff">
        <div class="mb-2">
            <h3 class="border-bottom" style="color: #353c4e;">Informations</h3>
            <div class="d-flex justify-content-between">
                <div class="w-50">
                    <h4 style="color: #353c4e;">Email:</h4>
                    <p style="color: #919aa3;">@Html.DisplayFor(model => model.account.Email)</p>
                </div>
                <div class="w-50">
                    <h4 style="color: #353c4e;">Phone number:</h4>
                    <p style="color: #919aa3;">@Html.DisplayFor(model => model.account.PhoneNumber)</p>
                </div>
            </div>
        </div>
        @if (User.Identity.Name == Model.account.UserName)
        {
            <div class="mb-2">
                <h3 class="border-bottom" style="color: #353c4e;">Others</h3>
                <div class="d-flex justify-content-between">
                    <div class="w-50">
                        <h4 style="color: #353c4e;">Upload a photo:</h4>
                        <p><a asp-controller="Posts" asp-action="Create" class="btn btn-primary border-0 d-inline-block" style="background: #6f95f8; cursor: pointer;color: white;">Upload</a></p>
                    </div>
                    <div class="w-50">
                        <h4 style="color: #353c4e;">Edit:</h4>
                        <p><a asp-controller="Accounts" asp-action="Edit" asp-route-id="@Model.account.Id" class="btn btn-primary border-0 d-inline-block" style="background: #6f95f8;cursor: pointer;color: white;">Edit Info</a></p>
                    </div>
                </div>
            </div>
        }
        @if (User.IsInRole("Admin") && User.Identity.Name!=Model.account.UserName)
        {
            <div class="mb-2">
                <h3 class="border-bottom" style="color: #353c4e;">Others</h3>
                <div class="d-flex justify-content-between">
                    <div class="w-50">
                        <h4 style="color: #353c4e;">Delete account:</h4>
                        <p><a class="btn btn-outline-primary ml-1 bg-white" asp-controller="Accounts" asp-action="Delete" asp-route-id="@Model.account.Id">Delete</a></p>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
<div class="pt-3">
    <div class="bg-white rounded">
        <div class="card-columns p-md-3">
            @foreach (var item in Model.photos)
            {
                <div class="card">
                    <a asp-controller="Posts" asp-action="DetailsProfile" asp-route-id="@item.PostId"><img src="@Url.Content(item.Picture)" class="card-img img-fluid" alt="photo" /></a>
                </div>
            }

        </div>
    </div>
</div>

