@model Photography.Models.ContactForm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ContactForm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrenumeF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrenumeF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Account)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Account.AccountId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ContactFormId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
