@model Photography.ViewModels.FormAccountViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Form:</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.contact.PrenumeF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.contact.PrenumeF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.contact.NumeF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.contact.NumeF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.contact.DataF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.contact.DataF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.contact.Message)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.contact.Message)
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.account.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to Forms</a>
</div>
