@model IEnumerable<Photography.Models.ContactForm>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrenumeF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrenumeF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.AccountId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContactFormId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ContactFormId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ContactFormId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
